body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.home-link {
  position: absolute;
  top: 20px;
  left: 80px;
}

.home-logo {
  width: 150px;
  height: auto;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%; /* Mengambil 2/3 dari layar */
  max-width: 1000px; /* Batas maksimum lebar container */
  box-sizing: border-box; /* Mengikutkan padding dan border dalam width */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
}

.instruction {
  background-color: #f1f8e9;
  padding: 10px;
  border-left: 5px solid #8bc34a;
  margin-bottom: 20px;
  color: #555555;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333333;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type="checkbox"] {
  margin-right: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #1e88e5;
}

#jadwal_tes {
  margin-top: 16px;
}
