/* Tuliskan gaya CSS untuk halaman login admin di sini */
.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2196F3;
  color: white;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #2195f383;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}
